body.dark {
	background-color: black;
}

.dark {
	.red {
		background-color: #912c3e;
	}

	.yellow {
		background-color: #9e8600;
	}

	.green {
		background-color: #276b16;
	}

	.blue {
		background-color: #1c4eb0;
	}

	.purple {
		background-color: #8642a9;
	}

	// Make tour button text visible
	.shepherd-element .action {
		color: white;
	}
}
