.green {
	body {
		background-color: #16001f;
	}

	.red {
		background-color: #ff5e3a;
	}

	.yellow {
		background-color: #ffe449;
	}

	.green {
		background-color: #9dff85;
	}

	.blue {
		background-color: #2b73ff;
	}

	.purple {
		background-color: #cb65ff;
	}
}
