.green {
	body {
		background-color: #ffe9c4;
	}

	.red {
		background-color: #ffb0b0;
	}

	.yellow {
		background-color: #fff89c;
	}

	.green {
		background-color: #c2ffc2;
	}

	.blue {
		background-color: #8ab7ff;
	}

	.purple {
		background-color: #c0b3ff;
	}

	// This changes the search outline around cards to green, proving that hotswapping the CSS works.
	// Maybe we could get rid of the variables and just use pure swapping of the CSS instead
	.card.searchedOnPage:after {
		border: 0.2em solid green;
	}
}
