{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "vueIndentScriptAndStyle": true,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true
}
