darkGrey = #202020
darkerGrey = #090909
lightGrey = #dbd8d8

softGrey = #6C70A0

orange = #f7a400
green = #4CAF50
purple = #8243d7
red = #F8685F
darkred=#800000

softYellow = #FFC66C

teal = #5eab98
lightteal = #31A9A9
darkteal = #1d5d63

purrple = #8642a9

accent1 = teal
accent2 = orange
accent3 = white
accent4 = lightteal
accent5 = #333333

main =  darkGrey
mainLight = teal
contentColour = accent3
mainDark = darkGrey

blue=#2fc4de

wrexred= #912c3e
wrexyellow = #9e8600
wrexblue = #1c4eb0
wrexgreen = #276b16
wrexblack = black
wrexpurple=purrple

lightpurple = #a87cdf

.redwx
    background-color: wrexred

.yellowwx
    background-color: wrexyellow

.bluewx
    background-color: wrexblue

.greenwx
    background-color: wrexgreen

.purplewx
    background-color: wrexpurple

.blackwx
    background-color: wrexblack

.redtx
    color: wrexred

.yellowtx
    color: wrexyellow

.bluetx
    color: wrexblue

.purpletx
    color: wrexpurple

.greentx
    color: wrexgreen

warning = #800000
