/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gridbox {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.grid {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.gridbox {
  width: 80%; }
.column,
.grid {
  margin-left: 4%; }
.column:first-child,
.grid:first-child {
  margin-left: 0; }

.one.column,
.one.grid                    { width: 4.66666666667%; }
.two.grid                    { width: 13.3333333333%; }
.three.grid                  { width: 22%;            }
.four.grid                   { width: 30.6666666667%; }
.five.grid                   { width: 39.3333333333%; }
.six.grid                    { width: 48%;            }
.seven.grid                  { width: 56.6666666667%; }
.eight.grid                  { width: 65.3333333333%; }
.nine.grid                   { width: 74.0%;          }
.ten.grid                    { width: 82.6666666667%; }
.eleven.grid                 { width: 91.3333333333%; }
.twelve.grid                 { width: 100%; margin-left: 0; }

.one-third.column               { width: 30.6666666667%; }
.two-thirds.column              { width: 65.3333333333%; }

.one-half.column                { width: 48%; }

/* Offsets */
.offset-by-one.column,
.offset-by-one.grid          { margin-left: 8.66666666667%; }
.offset-by-two.column,
.offset-by-two.grid          { margin-left: 17.3333333333%; }
.offset-by-three.column,
.offset-by-three.grid        { margin-left: 26%;            }
.offset-by-four.column,
.offset-by-four.grid         { margin-left: 34.6666666667%; }
.offset-by-five.column,
.offset-by-five.grid         { margin-left: 43.3333333333%; }
.offset-by-six.column,
.offset-by-six.grid          { margin-left: 52%;            }
.offset-by-seven.column,
.offset-by-seven.grid        { margin-left: 60.6666666667%; }
.offset-by-eight.column,
.offset-by-eight.grid        { margin-left: 69.3333333333%; }
.offset-by-nine.column,
.offset-by-nine.grid         { margin-left: 78.0%;          }
.offset-by-ten.column,
.offset-by-ten.grid          { margin-left: 86.6666666667%; }
.offset-by-eleven.column,
.offset-by-eleven.grid       { margin-left: 95.3333333333%; }

.offset-by-one-third.column,
.offset-by-one-third.grid    { margin-left: 34.6666666667%; }
.offset-by-two-thirds.column,
.offset-by-two-thirds.grid   { margin-left: 69.3333333333%; }

.offset-by-one-half.column,
.offset-by-one-half.grid     { margin-left: 52%; }

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
