@import "./colours"
/*
input[type='text'],
input[type='email'],
input[type='password']
    color: contentColour
    background-color: transparent
    border:0
    //border-bottom: 3px solid accent1
    //width:calc(100% - 5px)
    padding: 5px 1px 5px
    margin: 10px 0
*/

:focus
  outline: none

.input-container
  width:calc(100% - 2px);
  margin: 25px 0 5px;
  position: relative;

input, select, textarea
  padding: 10px 10px 5px
  color: contentColour
  background: transparent
  width: 100%
  box-sizing: border-box
  letter-spacing: 1px
  z-index:2

.input-effect
  border: 0
  border-bottom: 1px solid accent1
  background-color: transparent

.input-effect ~ .focus-border
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 0
  background-color: transparent
  transition: 0.3s;

.input-effect:focus ~ .focus-border,
.has-content.input-effect ~ .focus-border
  height: 36px
  transition: 0.3s
  border: 1px solid accent1
  z-index: 1
  pointer-events: none

.input-effect ~ label
  position: absolute
  left: 0
  width: 100%
  top: 9px
  font-style: italic;
  transition: 0.3s
  z-index: 1
  letter-spacing: 0.5px
  pointer-events: none

.input-effect:focus ~ label,
.has-content.input-effect ~ label
  top: -20px
  font-size: 0.7em
  font-style: normal;
  font-weight:700;
  transition: 0.3s

textarea
  background-color:transparent
  border:1px solid
  margin-bottom:5px

.input-instructions
  font-size: 0.777em
  margin-bottom:30px
