@import "./colours"

h1
    width: fit-content
    background: main
    background-color: main
    border-radius: 0.5em
    margin: 0 auto 0.25em auto
    padding: 0.25em
    z-index: 800
    font-size: 1.67em
