.tooltip {
    position: relative
    display: inline-block
}

/* Tooltip text */
.tooltip .tooltiptext, .adjtooltip + .tooltiptext {
    visibility: hidden
    width: auto
    min-width: 9.5em
    background-color: rgba(0, 0, 0, 0.65)
    color: #fff
    text-align: center
    padding: 5px 0
    border-radius: 6px
    top: -5px
    right: 105%
    /* Position the tooltip text - see examples below! */
    position: absolute
    z-index: 152
    padding: 0.5em
    pointer-events: none
    font-size: 1.2em
}

.tooltip .tooltiptext h1, .adjtooltip + .tooltiptext h1 {
    margin-top: 0.5em
    font-size: 1.275em
    font-weight: bold
}

.tooltip .tooltiptext p, .adjtooltip + .tooltiptext p {
    margin-top: 0.5em
    margin-bottom: 0.25em
    font-weight: normal
}

.tooltip .tooltiptext .suggest, .adjtooltip + .tooltiptext .suggest {
    font-style: italic
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext, .adjtooltip:hover + .tooltiptext {
    visibility: visible
}

.tooltiptext .leftalign
    text-align: left

.tooltiptext ul, .tooltiptext li
    text-align: left
    list-style-type: none
    position: relative

.tooltiptext li
    padding-left: 0.5em
    margin-left: 1em