html {
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
	background-color: #000;
	color: white;
	font-family: monospace;
	font-size: 1.25em;
}

span,
button,
textarea {
	margin: 0.5em;
}

.grid {
	display: grid;
	margin-left: 50%;
	transform: translateX(-50%);
	width: fit-content;
}

.grid .square {
	background: rgba(255, 255, 255, 0.075);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.grid .square:hover {
	background: rgba(80, 110, 255, 0.6);
}
